<footer>
  <div class="container" style="padding: 0 40px 0 0;">
    <nav class="navbar fixed-bottom" style="background-color: #e3f2fd; padding: 0 40px 0;">
   
      <span class="navbar-text">&copy;2023 All rights reserved</span>
      <span class="navbar-text">Andrey Yermakov 301228461</span>
      </div>
    </nav>
  </div>
</footer>
