<footer>
    <nav class="navbar fixed-bottom" style="background-color: #e3f2fd;">
   
      <span class="navbar-text">&copy;2023 All rights reserved</span>
      <span class="navbar-text">Andrey Yermakov 301228461</span>
      </div>
    </nav>
</footer>
