<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
    <div class="jumbotron">
        <section>
            <h2>Contact Information</h2>
            <p>You can reach me using the following contact information:</p>
            <address>
                <p><strong>Email:</strong> <a href="mailto:yermakovandrey92@gmail.com">yermakovandrey92@gmail.com</a></p>
                <p><strong>Phone:</strong> +1 (437) 436-2648</p>
            </address>
        </section>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   