<link rel="stylesheet" type="text/css" href="Content/projects.css" />

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">

    <h1>Here is a couple of blocks that I did</h1>
    <div class="projects__grid">
        <div class="card" style="width: 18rem;">
            <img src="img/kolesa.png" height="172px" class="card-img-top" alt="great site">
            <div class="card-body">
              <h5 class="card-title">Kolesa.kz New Auto</h5>
              <a href="https://kolesa.kz/cars/new/volkswagen-taos/" target="_blank" class="btn btn-primary">link to a project</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="img/kolesa2.png" height="172px" class="card-img-top" alt="great site">
            <div class="card-body">
              <h5 class="card-title">Kolesa.kz slider in slider</h5>
              <a href="https://kolesa.kz/cars/new/volkswagen-taos/" target="_blank" class="btn btn-primary">link to a project</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="img/kolesa.png" height="172px" class="card-img-top" alt="great site">
            <div class="card-body">
              <h5 class="card-title">Kolesa.kz New Auto</h5>
              <a href="https://kolesa.kz/cars/new/volkswagen-taos/" target="_blank" class="btn btn-primary">link to a project</a>
            </div>
        </div>
    </div>
</div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   